{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_search'|trans }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .pagination {
            display: inline-flex !important;
        }
        .lead {
            display: contents;
        }
        .author_img {
            width: 300px;
        }
    </style>
{% endblock %}

{% block body %}
    <!--================Home Banner Area =================-->
    <section class="home_banner_area">
        <div class="container box_1620">
            <div class="text-center align-items-center" style="min-height: unset;">
                <div class="banner_content">
                    <div class="personal_text">
                        <h3>{{ 'users_friends'|trans }} {{ user.userInfo.firstname }} {{ user.userInfo.lastname }}</h3>
                        {% if pagination is defined and pagination.items|length %}
                            {% for connection in pagination.items %}
                                {% set friend = connection.fromUser == user ? connection.toUser : connection.fromUser %}
                                <div class="blog_right_sidebar" style="display: inline-table">
                                    <aside class="single_sidebar_widget author_widget">
                                        <img class="author_img rounded-circle" src="{{ asset('img/'~friend.userInfo.avatar) }}" alt="">
                                        <h4>{{ friend.userInfo.lastname }} {{ friend.userInfo.firstname }}</h4>
                                        <p>{{ friend.email }}</p>
                                        <div class="social_icon">
                                            <a href="#"><i class="fa fa-facebook"></i></a>
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                            <a href="#"><i class="fa fa-github"></i></a>
                                            <a href="#"><i class="fa fa-behance"></i></a>
                                        </div>
                                        <div class="br"></div>
                                        <a href="{{ url('profile', {'id': friend.id}) }}" class="pull-left btn btn-sm btn-success"><i class="fa fa-search"></i> {{ 'show_profile'|trans }}</a>
                                        {% if app.user and app.user != friend %}
                                            {% if not friendRepository.getFriendConnection(app.user, friend) %}
                                                <a href="{{ url("add_friend", {'id': friend.id}) }}" class="pull-right btn btn-sm btn-primary"><i class="fa fa-plus"></i> {{ 'add_friends'|trans }}</a>
                                            {% endif %}
                                        {% endif %}
                                    </aside>
                                </div>
                            {% endfor %}
                            <div class="col-12 navigation text-center mt-5">
                                {{ knp_pagination_render(pagination) }}
                            </div>
                        {% else %}
                            <div class="jumbotron jumbotron-fluid mt-5">
                                <div class="container">
                                    <h1 class="display-4">{{ 'no_results_title'|trans }}</h1>
                                    <p class="lead">{{ 'no_results_friends_content'|trans }}</p>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Home Banner Area =================-->
{% endblock %}